@inject GameSocketConnectionManager GameSocketConnectionManager
@using TitlesWebGame.WebUi.Services
@inherits LayoutComponentBase
@implements IDisposable;
@inject GameSessionState GameSessionState;
@inject NavigationManager NavManager;

<div class="page">
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        await GameSocketConnectionManager.ConnectSocket();
        GameSessionState.OnSessionInit += InitGameSession;
    }

    private void InitGameSession()
    {
        NavManager.NavigateTo("game");   
    }
    
    public void Dispose()
    {
        throw new NotImplementedException();
    }
}
