@using TitlesWebGame.WebUi.Services
@using TitlesWebGame.WebUi.ViewModels
@using TitlesWebGame.Domain.ViewModels
@using System.Text.RegularExpressions
@inject IJSRuntime JS;
@implements TitlesWebGame.WebUi.Interfaces.IGameRoundComponent
@inject GameSocketConnectionManager GameSocketConnectionManager

<div class="row justify-content-center">
		<canvas id="canvas"></canvas>
	</div>
<div class="row justify-content-center">
	<div class="colorButtons">
		<h3>Colour</h3>
		<input type="color" id="colorpicker" value="#c81464" class="colorpicker">
	</div>
	<button id="clear" class="btn btn-danger">Clear</button>


	<div class="btn-group btn-group-toggle" data-toggle="buttons">
		<label class="btn btn-secondary active" id="pencilButtonLabel">
			<input type="radio" name="options" id="pencilButton" autocomplete="off" checked> Pencil
		</label>
		<label class="btn btn-secondary" id="eraserButtonLabel">
			<input type="radio" name="options" id="eraserButton" autocomplete="off"> Eraser
		</label>
	</div>


	<div class="buttonSize">
		<h3>Size (<span id="showSize">5</span>)</h3>
		<input type="range" min="1" max="50" value="5" step="1" id="controlSize">
	</div>
</div>



@code {
	[CascadingParameter(Name = "GameViewModel")]
	protected GameViewModel GameViewModel { get; set; }
	


	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await JS.InvokeVoidAsync("drawing.initializeCanvas", 800, 800);
		await base.OnAfterRenderAsync(firstRender);
	}

	public async Task UploadDrawnImage()
	{
		try
		{
			var dataUrl = await JS.InvokeAsync<string>("drawing.getDataLink");
			var base64Data = Regex.Match(dataUrl, @"data:image/(?<type>.+?),(?<data>.+)").Groups["data"].Value;
			var binData = Convert.FromBase64String(base64Data);
		
			await GameSocketConnectionManager.SendAnswerWithData(GameViewModel.RoomKey, new GameRoundAnswer()
			{
				Answer = String.Empty,
				ConnectionId = GameViewModel.Player.ConnectionId,
				Data = binData,
			});
		}
		catch (Exception e)
		{
			Console.WriteLine(e);
		}
	}

	public Task HandleTimerDone()
	{
		return UploadDrawnImage();
	}
}