@using TitlesWebGame.WebUi.Services
@using TitlesWebGame.WebUi.ViewModels
@using TitlesWebGame.Domain.ViewModels
@using System.Text.RegularExpressions
@using TitlesWebGame.Domain.Entities
@using TitlesWebGame.WebUi.Models
@inject IJSRuntime JS;
@inject GameSocketConnectionManager GameSocketConnectionManager
@implements IDisposable;

<div class="row justify-content-center">
	<canvas id="canvas"></canvas>
</div>
<div class="row justify-content-center">
	<div class="colorButtons">
		<h3>Colour</h3>
		<input type="color" id="colorpicker" value="#c81464" class="colorpicker">
	</div>
	<button id="clear" class="btn btn-danger">Clear</button>


	<div class="btn-group btn-group-toggle" data-toggle="buttons">
		<label class="btn btn-secondary active" id="pencilButtonLabel">
			<input type="radio" name="options" id="pencilButton" autocomplete="off" checked> Pencil
		</label>
		<label class="btn btn-secondary" id="eraserButtonLabel">
			<input type="radio" name="options" id="eraserButton" autocomplete="off"> Eraser
		</label>
	</div>


	<div class="buttonSize">
		<h3>Size (<span id="showSize">5</span>)</h3>
		<input type="range" min="1" max="50" value="5" step="1" id="controlSize">
	</div>
</div>



@code {
	[CascadingParameter(Name = "GameViewModel")]
	protected GameViewModel GameViewModel { get; set; }

	private bool _isSending = false;
	
	protected override void OnInitialized()
	{
		GameViewModel.PropertyChanged += OnPropertyChangedHandler;
		base.OnInitialized();
	}

	public void OnPropertyChangedHandler(object sender, ViewModelPropertyChangedEventArgs e)
	{
		if (GameViewModel.NextRoundInfo is CompetitiveArtistUploadRoundInfoViewModel)
		{
			Task.Run(UploadDrawnImage);
		}
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JS.InvokeVoidAsync("drawing.initializeCanvas", 800, 800);
		}
		await base.OnAfterRenderAsync(firstRender);
	}

	public async Task UploadDrawnImage()
	{
		try
		{
			if (_isSending == false)
			{
				_isSending = true;
				var dataUrl = await JS.InvokeAsync<string>("drawing.getDataLink");
				var base64Data = Regex.Match(dataUrl, @"data:image/(?<type>.+?),(?<data>.+)").Groups["data"].Value;
				var binData = Convert.FromBase64String(base64Data);
		
				await GameSocketConnectionManager.SendAnswerWithData(GameViewModel.RoomKey, new GameRoundAnswer()
				{
					Answer = String.Empty,
					ConnectionId = GameViewModel.Player.ConnectionId,
					Data = binData,
				});
			}
		}
		catch (Exception e)
		{
			Console.WriteLine(e);
		}
	}
	
	public void Dispose()
	{
		GameViewModel.PropertyChanged -= OnPropertyChangedHandler;
	}

}