@using TitlesWebGame.WebUi.Services
@using Microsoft.AspNetCore.SignalR.Client
@inject GameSocketConnectionManager GameSocketConnectionManager

<h3>Create Game Session</h3>

<div>
    <span>displayName: </span>
    <input @bind="displayName"/>
</div>
<div>
    <button @onclick="CreateRoom">Create room</button>
</div>

@code {
    private string displayName = "";
    private string selectedRoomKey;
    
    private async Task CreateRoom()
    {
        await GameSocketConnectionManager.CreateGameSession(displayName);
    }
    
}