@using System.Diagnostics


<div class="progress" style="height: 40px;">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" 
         style="@($"width: {_progressPercentage}%")" aria-valuenow="@_progress" aria-valuemin="0" aria-valuemax="@TimeUnits"></div>
</div>


@code {
    [Parameter]
    public int TimeUnits { get; set; }

    private float _progress;
    private float _progressPercentage;
    
    [Parameter]
    public int IntervalMs { get; set; }

    private bool _timerFinished = false;
    
    public event Action TimerDone;

    protected override void OnInitialized()
    {
        _progress = TimeUnits;
        _progressPercentage = 100;
        Console.WriteLine("setting timer");
        
        SetTimer(TimeUnits, IntervalMs);
        base.OnInitialized();
    }

    private async Task SetTimer(int secondsAmount, int interValMs)
    {
        while (_progress > 0)
        {
            await Task.Delay(interValMs);
            _progress--;
            _progressPercentage = ((_progress / TimeUnits) * 100);
            StateHasChanged();
        }

        _timerFinished = true;
        TimerDone?.Invoke();
    }

}