@using TitlesWebGame.WebUi.Services
@using TitlesWebGame.Domain.Entities
@using TitlesWebGame.WebUi.Services
@using TitlesWebGame.WebUi.ViewModels
@inject GameSocketConnectionManager GameSocketConnectionManager;


<div class="text-center h2 font-weight-bolder" style="margin-top: 40px;" >Roomkey is: @GameViewModel.RoomKey</div>

<div class="row justify-content-center" style="margin-top: 40px;">
    <div class="players-lobby-container gen-bg-red col-lg-6 col-md-8 col-sm-10  ">
        <div class="font-weight-bold mb-3 ml-3 h3">Joined Players: </div>
        <div class="player-lobby-list">
            @foreach (var player in GameViewModel.SessionPlayers)
            {
                <div>
                    @player.DisplayName
                </div>
                <hr>
                        
            }
        </div>
        @if (GameViewModel.IsOwner)
        {
            <div class="row justify-content-center mt-3">
                <button @onclick="StartGame" type="button" class="btn btn-success font-weight-bold">Start Game!</button>
            </div>
        }
    </div>
</div>


@code {
    [CascadingParameter(Name = "GameViewModel")]
    protected GameViewModel GameViewModel { get; set; }

    private async Task StartGame()
    {
        await GameSocketConnectionManager.StartGameSession(GameViewModel.RoomKey);
    }
}