<div class="option-mark">
    @GetRightAnswerMark()
</div>
<div class="option-text">
    @GetRightAnswerString()
</div>

@code {
    [Parameter]
    public string Answer { get; set; }
    
    [Parameter]
    public string ColorOption { get; set; }
    
    [Parameter]
    public string[] Choices { get; set; }

    private string GetRightAnswerString()
    {
        var answerIndex = Int32.Parse(Answer);
        return Choices[answerIndex];
    }

    private string GetRightAnswerMark()
    {
        var marks = "ABCDEFGHIJKL";
        var answerIndex = Int32.Parse(Answer);
        return marks[answerIndex].ToString();
    }
}