@using TitlesWebGame.Domain.Entities

<div class="row justify-content-center">
    <div class="scores-container col-lg-7 col-md-9 col-sm-12">
        @for (int i = 0; i < SortedPlayers.Count; i++)
        {
            var placeNumber = i + 1;
        
            <ul class="player-score-container">
                <li class="gen-bg-dark score-mark">
                    <div class="score-item-content">
                        @placeNumber
                    </div>
                </li>
                <li class="gen-bg-red score-name">
                    <div class="score-item-content">
                        @SortedPlayers[i].DisplayName
                    </div>
                </li>
                <li class="gen-bg-blue score-points">
                    <div class="score-item-content">
                        @SortedPlayers[i].CurrentPoints
                    </div> 
                </li>
                <li class="gen-bg-yellow score-titles">
                    <div class="score-item-content score-titles-items">
                        <Emoji>:tada:</Emoji>
                        <Emoji>:tada:</Emoji>
                        <Emoji>:tada:</Emoji>
                    </div> 
                </li>
            </ul>
        }
    </div>
</div>

@code {
    [Parameter]
    public List<GameSessionPlayer> SortedPlayers { get; set; }
}