@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* --------------------- GAME STYLES -------------------------*/
.option-color-0{
    background: #1e7e34;
}

.option-color-1{
    background: #3a0647;
}

.option-color-2{
    background: #1b6ec2;
}

.option-color-3{
    background: #6f42c1;
}

.option-color-4{
    background: #4e555b;
}

.option-color-right{
    background: green;
}

.option-color-wrong {
    background: red;
}

.round-title{
    justify-self: center;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.options-container{
    border-radius: 5px 5px 0 0;
}

.option-button{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2rem;
    align-items: center;
    color: white;
}

.option-button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    filter: brightness(85%);
}

.option-mark{
    font-weight: bold;
    font-size: 2em;
    margin-right: 1em;
}

.option-text{
    font-size: 1em;
}

.waiting-round-text{
    font-weight: bold;
    font-size: 3rem;
}

/* --------------------- REVIEW BOARD -------------------------*/
.round-review-answer{
    background: green;
    
}

.scores-container{
    
}

.player-score-container {
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
    background: blue;
    color: white;
    padding-left: 10px;
}

.player-name{
    font-weight: bold;
    margin: 10px;
    font-size: 20px;
}

.player-score{
    font-weight: bold;
    font-size: 18px;
}

.player-tiles-container{
    flex-direction: row;
    display: flex;
    margin-left: 10px;
}

.player-title{
    margin: 5px;
}