@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root{
    --app-blue: #008CAD;
    --app-green: #8FBC94;
    --app-red: #931621;
    --app-yellow: #FFCB47;
    --app-dark: #080708;
}


html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* --------------------- APP STYLES -------------------------*/


.gen-bg-blue{
    background: var(--app-blue);
}

.gen-bg-green{
    background: var(--app-green);
}

.gen-bg-red {
    background: var(--app-red);
}

.gen-bg-yellow {
    background: var(--app-yellow);
}

.gen-bg-dark {
    background: var(--app-dark);
}
    
    
/* --------------------- GAME STYLES -------------------------*/
.option-color-0{
    background: #1e7e34;
}

.option-color-1{
    background: #3a0647;
}

.option-color-2{
    background: #1b6ec2;
}

.option-color-3{
    background: #6f42c1;
}

.option-color-4{
    background: #4e555b;
}

.option-color-right{
    background: green;
}

.option-color-wrong {
    background: red;
}

.round-title{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 1rem;
}

.options-container{
    border-radius: 5px 5px 0 0;
}

.option-button{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 20px 10px 20px;
    align-items: center;
    color: white;
}

.option-button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    filter: brightness(85%);
}

.option-mark{
    font-weight: bold;
    font-size: 2em;
    margin-right: 1em;
}

.option-text{
    font-size: 1em;
}

.waiting-round-text {
    font-weight: bold;
    font-size: 20px;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
/* --------------------- REVIEW BOARD -------------------------*/
.round-review-answer{
    background: green;
    
}

.scores-container{
    
}

.scores-container ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.scores-container li {
    float: left;
}

.score-item-content{
    display: block;
    color: white;
    text-align: start;
    padding: 5px 7px;
    text-decoration: none;
}

.score-mark{
    width: 10%;
    white-space: nowrap;
    align-self: start;
}

.score-name {
    width: 35%;
    white-space: nowrap;
}

.score-points{
    width: 20%;
    white-space: nowrap;
}

.score-titles{
    width: 35%;
}

.score-titles-items {
    display: flex;
    flex-direction: row;
}

/* --------------------- TITLES ROUND REVIEW PAGE -------------------------*/
.titles-round-winner-title
