@page "/EndGamePreviewPage"


<div class="text-center h1">👑 Mark 👑</div>
<div class="text-center font-weight-bold h3 mt-4 mb-4" >has won the most titles!!!</div>

<div class="row justify-content-center">
    <div class="scores-container col-lg-7 col-md-9 col-sm-12">
        @for (int i = 0; i < 7; i++)
        {
            var placeNumber = i + 1;
        
            <ul class="player-score-container">
                <li class="gen-bg-dark score-mark">
                    <div class="score-item-content">
                        @placeNumber )
                    </div>
                </li>
                <li class="gen-bg-red score-name">
                    <div class="score-item-content">
                        Mark
                    </div>
                </li>
                <li class="gen-bg-yellow score-titles">
                    <div class="score-item-content score-titles-items">
                        <Emoji>:tada:</Emoji>
                        <Emoji>:tada:</Emoji>
                        <Emoji>:tada:</Emoji>
                    </div> 
                </li>
            </ul>
        }
    </div>
</div>
@if (_isGameOwner)
{
    <div class="row justify-content-center">
        <div class="text-center play-again-button">
            Play again!
        </div>
    </div>
}


@code {
    private bool _isGameOwner = true;
}