@page "/Game"
@using Microsoft.AspNetCore.SignalR.Client;

@if(IsConnected == false){
<div>
    <button @onclick="ConnectToGame">Connect</button>
</div>
}
else
{
    <div>
        Connected
    </div>
}



<div class="container">
    @if (_chosenThisRound == false)
    {
        <div class="row justify-content-center">
            <div class="round-title">Who is the most loved of this group</div>
        </div>
        <div class="options-container">
            @for (int i = 0; i < 4; i++)
            {
                var optionNumber = i;
                string optionColor = "option-color-" + i;

                <div @onclick="@(e => HandlePlayerChoice(e, optionNumber))" class="option-button @optionColor">
                    <div class="option-mark">
                        A)
                    </div>
                    <div class="option-text">
                        Me myself and I
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="row justify-content-center">
            <div class="waiting-round-text">
                Waiting for the rest of players...
            </div>
        </div>
    }
</div>

@code {
    private bool _chosenThisRound;
    private HubConnection _hubConnection;
    
    private void HandlePlayerChoice(MouseEventArgs e, int number)
    {
        Console.WriteLine(number);
        _chosenThisRound = true;
    }

    private async Task ConnectToGame(MouseEventArgs e)
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:5001/game")
            .Build();

        Console.WriteLine("connection started...");

        await _hubConnection.StartAsync();
        StateHasChanged();
    }

    public bool IsConnected => _hubConnection != null && _hubConnection.State == HubConnectionState.Connected;
}