@using TitlesWebGame.WebUi.Services
@using TitlesWebGame.Domain.Entities
@using TitlesWebGame.WebUi.Services
@using TitlesWebGame.WebUi.ViewModels

@if (GameViewModel.IsOwner)
{
    <div>
        <div>Your the owner</div>
    </div>
}

@code {
    [CascadingParameter(Name = "GameViewModel")]
    protected GameViewModel GameViewModel { get; set; }
}