@using TitlesWebGame.WebUi.Services
@using TitlesWebGame.Domain.Entities
@inject GameSessionState GameSessionState;
@using TitlesWebGame.WebUi.Services
@implements IDisposable;

@if (GameSessionState.IsOwner())
{
    <div>
        <div>Your the owner</div>
    </div>
}

@code {
    protected override void OnInitialized()
    {
        GameSessionState.OnSessionStateChanged += StateHasChanged;
    }

    public void Dispose()
    {
        GameSessionState.OnSessionStateChanged -= StateHasChanged;
    }
    
}