@page "/Tests"
@using Microsoft.AspNetCore.SignalR.Client;
@using TitlesWebGame.Domain.ViewModels
@implements IAsyncDisposable;

@if(IsConnected == false){
<div>
    <button @onclick="ConnectWithGame">Connect</button>
</div>
}
else
{
    <div>
        Connected
    </div>
}

<div>
    <span>roomKey: </span>
    <input @bind="selectedRoomKey"/>
</div>

<div>
    <span>displayName: </span>
    <input @bind="displayName"/>
</div>

<div>
    <button @onclick="JoinRoom">Join</button>
    <button @onclick="CreateRoom">Create room</button>
    <button @onclick="StartGameSession">StartGame</button>
</div>



@code {
    private bool _chosenThisRound;
    private HubConnection _hubConnection;

    private string selectedRoomKey = "";
    private string displayName = "";
    
    public bool IsConnected => _hubConnection != null && _hubConnection.State == HubConnectionState.Connected;
    
    private async Task ConnectWithGame(MouseEventArgs e)
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:5001/game")
            .Build();

        _hubConnection.On<TitlesGameHubMessageModel>("ServerMessageUpdate", (message) => Console.WriteLine(message.Message));
        _hubConnection.On<GameRoundInfoViewModel>("NextRoundInfoUpdate", (GameRoundInfo) =>
        {
            Console.WriteLine(GameRoundInfo.RoundStatement);
            Console.WriteLine(GameRoundInfo.TitleCategory.ToString());
        });
        _hubConnection.On<SessionStateUpdateViewModel>("GameSessionStateUpdate", (sessionState) =>
        {
            Console.WriteLine(sessionState.PreviousRoundInfo);
            foreach (var player in sessionState.GameSessionPlayers)
            {
                Console.WriteLine(player.DisplayName);
            }
        });
        _hubConnection.On<TitlesGameEndGameResults>("EndGameResultsUpdate", (endGameResults) =>
        {
            Console.WriteLine("Game ended, want to restart?");
        });
        
        await _hubConnection.StartAsync();
        StateHasChanged();
    }

    private async Task CreateRoom()
    {
        await _hubConnection.SendAsync("CreateRoom", displayName);
    }

    private async Task JoinRoom()
    {
        Console.WriteLine(selectedRoomKey);
        await _hubConnection.SendAsync("ConnectToRoom", selectedRoomKey, displayName);
    }

    private async Task StartGameSession()
    {
        await _hubConnection.SendAsync("StartGameSession", selectedRoomKey);
    }
    

    public async ValueTask DisposeAsync()
    {
        await _hubConnection.DisposeAsync();
    }
}