@page "/Tests"
@using System.Text.RegularExpressions
@inject IJSRuntime JS;


<div id="sidebar">
	<div class="colorButtons">
		<h3>Colour</h3>
		<input type="color" id="colorpicker" value="#c81464" class="colorpicker">
	</div>
	<div class="colorButtons">
		<h3>Bg Color</h3>
		<input type="color" value="#ffffff" id="bgcolorpicker" class="colorpicker">
	</div>

	<div class="toolsButtons">
		<h3>Tools</h3>
		<button id="eraser" class="btn btn-danger">Erase</button>
		<button id="clear" class="btn btn-danger">Clear</button>
	</div>

	<div class="buttonSize">
		<h3>Size (<span id="showSize">5</span>)</h3>
		<input type="range" min="1" max="50" value="5" step="1" id="controlSize">
	</div>

	<div class="canvasSize">
		<h3>Canvas</h3>
		<input type="button" class="updateSize btn btn-success" value="Update" id="canvasUpdate">
	</div>
	<div class="extra">
		<h3>Extra</h3>
		<a id="saveToImage" class="btn btn-warning">Download</a>
	</div>
</div>

@code {
	protected override void OnAfterRender(bool firstRender)
	{
		Console.WriteLine("render");
		JS.InvokeVoidAsync("drawing.initializeCanvas", 800, 800);	
		base.OnAfterRender(firstRender);
	}

	[JSInvokable]
	public static void UploadDrawnImage(string dataUrl)
	{
		var base64Data = Regex.Match(dataUrl,  @"data:image/(?<type>.+?),(?<data>.+)").Groups["data"].Value;
		var binData = Convert.FromBase64String(base64Data);
	}
}